@using ProyectoEstudiantesBLL.Dtos

@model List<EstudianteDto>

@{
    ViewData["Title"] = "Estudiantes";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalCrearEstudiante">
    Crear Nuevo Estudiante
</button>

<a href="/Estudiante/ConsultaPorId" class="btn btn-info mb-3">
    Consultar Estudiante por ID
</a>

<table class="table table-striped" id="tablaEstudiantes">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>

@await Html.PartialAsync("Edit") <!-- PRIORIDAD A LA PRIMERA VISTA CON MISMOS IDS -->
@await Html.PartialAsync("Create")

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Estudiantes.js" asp-append-version="true"></script>
}